:root {
    --grey:  rgb(189, 176, 176);
}

body {
    margin: 0;
}
#root {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 5fr 1fr;
    width: 100%;
    height: 100%;
}

.game-table {
    margin: 5% auto;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    width: 400px;
    height: 800px;
}

.table-pixel {
    height: 100%;
    width: 100%;
    background-color: var(--grey);
}

.block-group {
    position: relative;
    margin: 0 auto;
}

.block {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 0px;
    /* display: grid;
    grid-gap: 0; */
}

.comming-up {
    height: 100px;
    width: 100px;
}

.score-area {
    background: #ffb300;
    height: 300px;
    width: 300px;
    font-size: 20px;
    padding: 20px;
}

.scoreboard {
    /* display: block; */
    background-color: grey;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    text-align: center;
    
}

.score-form {
    margin: 30px;
    padding: 50px;
    display: block;
    background: #72cc2e;
    font-size: 2em;
}

.show {
    opacity: 0.7;
}

.scoreForm {
    background-color: blue;
}